@using Microsoft.AspNetCore.Components

<div class="div-container">
    <button class="pill-button green-button" @onclick="HandleStartClick">Start</button>
    <button class="pill-button gray-button" @onclick="HandleAddClick">Add</button>
</div>


@code {
    [Parameter]
    public EventCallback StartPressed { get; set; }

    [Parameter]
    public EventCallback AddPressed { get; set; }

    private async Task HandleStartClick()
    {
        await StartPressed.InvokeAsync();
    }

    private async Task HandleAddClick()
    {
        await AddPressed.InvokeAsync();
    }
}