@using Microsoft.AspNetCore.Components

<div class="div-container">
    <img src="images/users.png" alt="Users" class="user-image" />
    <span>Users</span>
    <span class="user-count">@UserCount.ToString("N0")</span>
</div>

@code {
    [Parameter]
    public int UserCount { get; set; }
}
