@using Microsoft.AspNetCore.Components

<div class="div-container">
    <img src="images/users.png" alt="Users" class="user-image" />
    <div class="label">Users</div>
    <div class="user-count">@UserCount.ToString("N0")</div>
</div>

@code {
    [Parameter]
    public int UserCount { get; set; }
}
