@using Microsoft.AspNetCore.Components

<div class="div-container">
    <img src="images/users.png" alt="Users" class="user-image" />
    <span class="user-count">@UserCount</span>
</div>

@code {
    [Parameter]
    public int UserCount { get; set; }
}
